{% extends "base.html" %}
{% block title %}Return Information{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/access.css') }}" />

<div class="product-modal" role="dialog" aria-modal="true">
    <button class="modal-close" aria-label="Close" onclick="location.href='{{ url_for('dashboard') }}'">×</button>

    <header class="modal-header"><h2>Return Information</h2></header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'success' %}
    <div class="success-message">
        {{ message }}
    </div>
    {% elif category == 'error' %}
    <div class="error-message">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <br>
    <form method="post" action="{{ url_for('access_return_info') }}">
              <div class="modal-body">
        <div class="form-grid">

          {% for label, value in return_display %}
            <div class="form-row">
              <div class="field-label">{{ label }}</div>
              <div class="field-box" >{{ value }}</div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Buttons at the bottom -->
      <footer class="modal-footer">
        <a class="btn btn-cancel" href="{{ url_for('returns_page') }}">Cancel</a>
        <a class="btn btn-delete" href="{{ url_for('delete_return_page') }}?return_id={{ return_id }}" title="Delete" 
            onclick="return confirm('Are you sure you want to delete return {{ return_id }}?');">
        Delete
        </a>
        <a class="btn btn-add" href="{{ url_for('add_return_to_stock_page', return_id=return_id) }}">Add back to stock</a>
      </footer>
    </div>
{% endblock %}
