<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>

<style>
        .round-btn{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            overflow: hidden; 
            padding: 0;
            cursor: pointer;
            background-color: #FFD6FE
        }

        .round-btn img {
            width: 70%;
            height: 70%;
            object-fit: cover;
        }
</style>
</head>
<body style="background-color: #FAEBF9">

<button class="round-btn" style="top: 20px; left: 20px;" onclick="window.location.href='{{ url_for('dashboard') }}'"> 
    <img src=https://www.iconpacks.net/icons/2/free-home-icon-2502-thumb.png alt="home-button">
</button>

    <h1>Add new product</h1>

    <!-- flash message for successfully added item -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">
                    {{ category }} - {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <!-- FORM FOR GETTING NEW PRODUCT INFORMATION -->
    <form method="POST" action="{{ url_for('add_product_page') }}">

        <!-- input for all the required fields-->
        <div style="margin-bottom: 15px;">
            <label><strong>Product name:</strong></label><br>
            <input type="text" name="name" required style="padding: 8px; width: 300px">
        </div>

        <div style="margin-bottom: 15px;">
            <label><strong>Brand:</strong></label><br>
            <input type="text" name="brand" required style="padding: 8px; width: 300px">
        </div>

        <div style="margin-bottom: 15px;">
            <label><strong>Price (SEK):</strong></label><br>
            <input type="number" name="price" step="0.01" min="0" required style="padding: 8px; width: 300px">
        </div>

        <!-- select category drop down -->
        <div style="margin-bottom: 15px;">
            <label><strong>Category:</strong></label><br>
            <select name="category" required style="padding: 8px; width: 320px">
                <option value="">Select category</option>
                <option value="phones">Phones</option>
                <option value="tablets">Tablets</option>
                <option value="headphones">Headphones</option>
                <option value="speakers">Speakers</option>
                <option value="computers">Computers</option>
                <option value="smart watches">Smart watches</option>
                <option value="accessories">Accessories</option>
            </select>
        </div>

        <div style="margin-bottom: 15px;">
            <label><strong>Discount amount (%):</strong></label><br>
            <input type="number" name="discount" step="0.01" min="0" max="100" value="0" style="padding: 8px; width: 300px">
        </div>

        <div style="margin-bottom: 15px;">
            <label><strong>Stock amount:</strong></label><br>
            <input type="number" name="stock" min="0" required style="padding: 8px; width: 300px">
        </div>

        <!-- Button to confirm add product -->
        <button type="submit" style="background-color: #FFD6FE; padding: 10px 20px; cursor: pointer; margin-right: 10px;">
            Add
        </button>

        <button type="button" style="background-color: #FFD6FE; padding: 10px 20px; cursor: pointer;"
        onclick="window.location.href='{{ url_for('display_inventory') }}'">
            Cancel
        </button>
        
        <button style="background-color:#FFD6FE; display:block; position: absolute; top: 20px; right: 20px"
        onclick="window.location.href='{{ url_for('display_inventory') }}'">
    &lt; Back
    </button>
    </form>


</body>

</html>