{% extends "base.html" %}
{% block title %}Add return{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/access.css') }}" />

<div class="product-modal" role="dialog" aria-modal="true">
    <button class="modal-close" aria-label="Close" onclick="location.href='{{ url_for('dashboard') }}'">×</button>

    <header class="modal-header"><h2>Return product</h2></header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'success' %}
    <div class="success-message">
        {{ message }}
    </div>
    {% elif category == 'error' %}
    <div class="error-message">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <br>
    <form method="post" action="{{ url_for('add_return_page') }}">
        <div class="modal-body">
            <div class="form-grid">

                <div class="form-row">
                    <div class="field-label">Article id</div>
                    <input class="field-box" type="text" name="article_id" required>
                </div>

                <div class="form-row">
                    <div class="field-label">Stock amount</div>
                    <input class="field-box" name="stock" type="number" step="0.01" min="0" required>
                </div>

            </div>
        </div>

        <div class="modal-footer">
            <a class="btn btn-cancel" href="{{ url_for('dashboard') }}">Cancel</a>
            <button type="submit" class="btn btn-edit">Add Return</button>
        </div>

    </form>
</div>
{% endblock %}