<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body style="background-color: #FAEBF9">
    <h1 style = "text-align: center">Complete inventory</h1>
    <h4 style = "text-align: center">Below is all products currently in store</h4>
    <h4 style = "text-align: center">To manage inventory step back to Inventory and choose a management option</h4>

    {% for product in all_products %}
    <pre>{{ product }}</pre>
    <hr>
    {% endfor %}
    
    <button style="background-color:#FFD6FE; display:block; position: absolute; top: 20px; right: 20px"
        onclick="window.location.href='{{ url_for('display_inventory') }}'">
    &lt; Back
</button>
</body>
</html>