 {% extends "base.html" %} {% block title %}Apply discount{% endblock %} {% block
content %}

<div class="product-modal" role="dialog" aria-modal="true">
  <!-- X button to close page -->
  <button
    class="modal-close"
    aria-label="Close"
    onclick="location.href='{{ url_for('display_inventory') }}'"
  >
    ×
  </button>
  <header class="modal-header">
    <h2>Apply Discount</h2>
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'success' %}
            <div class= "success-message">
                {{ message }}
            </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="POST">
    <label for="discount_percentage">Discount Percentage:</label>
    <!-- Number input with step allows precise decimal discounts -->
    <input
      class="discount-btn"
      type="number"
      step="1"
      name="discount_percentage"
      min="0"
      max="100"
      required
      placeholder="Enter discount (0-100)"
    /><br /><br />

    <!-- Optional field lets user apply discount globally or to a specific category -->
    <label for="category">Category (optional):</label>
    <select class="discount-btn" name="category">
      <option value="">All Categories</option>
      {% for category in categories %}
      <option value="{{category}}">{{category}}</option>
      {% endfor %}
    </select>
    <br /><br />

    <!--Submit and cancel button  -->
    <div class="modal-footer">
      <button
        class="btn btn-cancel"
        type="button"
        onclick="window.location.href='{{ url_for('display_inventory') }}'"
      >
        Cancel
      </button>

      <button class="btn btn-edit" type="submit">Apply Discount</button>
    </div>
  </form>
</div>
{% endblock %}
