{% extends "base.html" %} 
{% block title %}Create account{% endblock %} 
{% block content %}

<div class="product-modal" role="dialog" aria-modal="true">
    <button class="modal-close" aria-label="Close" onclick="location.href='{{ url_for('display_inventory') }}'">×</button>
    <header class="modal-header">
    <h2>Add User</h2>
    </header>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'success' %}
                <div class= "success-message">
                    {{ message }}
                </div>
            {% elif category == 'error' %}
                <div class="error-message">
                    {{ message }}
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
    
        <form action="{{ url_for('create_account_page') }}" method="POST">
          <div class="modal-body">
            <div class="form-grid">
             
            <div class="form-row">
                <div class="field-label">Username</div>
                <input class="field-box" type="text" name="username" required>
            </div>
            
            <div class="form-row">
                <div class="field-label">Password</div>
                <input class="field-box" type="password" name="password" required>
            </div>

            <div class="form-row">
                <div class="field-label">Access Level</div>
                <select class="btn" name="access_level" required>
                <option value="">Select Access Level</option>
                <option value="Employee">Employee</option>
                <option value="Manager">Manager</option>
                <option value="Admin">Admin</option>
                </select>
            </div>            

            <div class="form-row">
                <div class="field-label">Repeat Password</div>
                <input class="field-box" type="password" name="repeat_password" required>
            </div>
            </div>
          </div>

            <div class="modal-footer">
                <a class="btn btn-cancel" href="{{ url_for('dashboard') }}">Cancel</a>
                <button type="submit" class="btn btn-edit">Create Account</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}