{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<header class="main-header">
  <h1>Welcome, {{ name }}!</h1>
  <div class="header-right">
    <!-- Date button with icon -->
    <button class="date-btn">
      <img
        src="{{ url_for('static', filename='images/calendar.svg') }}"
        alt="Calendar Icon"
        class="date-icon"
      />
      <!-- Christmas calendar icon -->
      <span class="nav-icon christmas-calendar-icon" aria-hidden="true"></span>
      {{ today }}
    </button>
  </div>
</header>
<!-- Overview section -->
<section class="overview">
  <h2>Overview</h2>
  <div class="overview-cards">
    <!-- Total Products card -->
    <div class="overview-card">
      <div class="icon">
        <img
          src="{{ url_for('static', filename='images/packagebox.svg') }}"
          alt="Products Icon"
          class="card-icon"
        />
      </div>
      <div class="value">{{ total_products }}</div>
      <div class="label">Total Products</div>
    </div>

    <!-- Low stock card -->
    <div class="overview-card">
      <div class="icon">
        <img
          src="{{ url_for('static', filename='images/chart-arrow-down.svg') }}"
          alt="Low Stock Icon"
          class="card-icon"
        />
      </div>
      <div class="value">{{ low_stock }}</div>
      <div class="label">Low Stock</div>
    </div>
    <!-- Returns card -->
    <div class="overview-card">
      <div class="icon">
        <img
          src="{{ url_for('static', filename='images/cart-minus.svg') }}"
          alt="Returns Icon"
          class="card-icon"
        />
      </div>
      <div class="value">23</div>
      <div class="label">Number of Returns</div>
    </div>
  </div>
</section>
<!-- Number of accounts section -->
<section class="accounts">
  <h2>Number of accounts</h2>
  <div class="accounts-box">
    <div class="icon">
      <img
        src="{{ url_for('static', filename='images/users.svg') }}"
        alt="Returns Icon"
        class="card-icon"
      />
    </div>
    <div class="value">{{ total_users }}</div>
    <div class="label">Total Users</div>
  </div>
</section>

<!-- Optional empty section -->
<section class="placeholders">
  <div class="placeholder"></div>
  <div class="placeholder"></div>
  <div class="placeholder"></div>
</section>
{% endblock %}
