<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body style="background-color: #faebfa">
    <h1 style="text-align:center; font-family: helvetica;">Welcome!</h1>

    <button 
        onclick="toggleMenu()"
        style="min-width: 400px; background-color: #FFD6FE; display:block; margin:auto;"
    >
        Menu
    </button>

    <div id='menu-options' style="display:none; margin-top:20px; text-align:center;">
        <button 
            onclick="window.location.href='{{ url_for('display_inventory') }}'"
            style="background-color: #FFD6FE"
        >
            Inventory
        </button>
    </div>

    <script>
    function toggleMenu() {
        const menu = document.getElementById('menu-options');
        menu.style.display = (menu.style.display === 'block') ? 'none' : 'block';
    }
    </script>
</body>
</html>
