{% extends "base.html"%}
{% block title %}Delete User{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/access.css') }}" />

<div class="product-modal" role="dialog" aria-modal="true">
    <!-- X button to close page -->
    <button class="modal-close" aria-label="Close" onclick="location.href='{{ url_for('dashboard') }}'">×</button>
    <header class="modal-header">
        <h2>Delete User</h2>
    </header>

    <!-- messages field -->
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {%for category, message in messages %}

            {% if category == 'success' %}
            <div class="success-message">
                {{ message }}
            </div>
            {% elif category == 'error' %}
            <div class="error-message">
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- form fields -->
        <form action="{{ url_for('delete_user_page') }}" method="POST">
            <div class="modal-body">
                <div class="form-grid">

                    <div class="form-row">
                        <div class="field-label">Your username</div>
                        <input class="field-box" type="text" name="username" required>
                    </div>

                    <div class="form-row">
                        <div class="field-label">Username to delete:</div>
                        <input class="field-box" class="btn" type="text" name="deleted_user" required>
                    </div>

                    <div class="form-row">
                        <div class="field-label">Your password</div>
                        <input class="field-box" type="text" name="password" required>
                    </div>
                </div>
            </div>

            <!-- Buttons at the bottom -->
            <footer class="modal-footer">
                <a class="btn btn-cancel" href="{{ url_for('account_page') }}">Cancel</a>
                <button type="submit" class="btn btn-delete">Delete</button>

        </form>
    </div>
</div>

{% endblock %}