{% extends "base.html" %} {% block title %}Delete product{% endblock %} {% block
content %}

<header class="modal-header">
        <h2>Delete Product</h2>
      </header>

<div style="text-align: center;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {%for category, message in messages %}
        {% if category == 'success' %}
        <div class="success-message">
            {{ message }}
        </div>

        {% elif category == 'error' %}
        <div class="error-message">
           {{ message }}
        </div>
        {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('delete_product_page') }}" method="POST">
        <h3 class="title" for="article_id" style="margin-bottom: 0px;">Article ID:</h3>
        <br><br>

        <input class="btn" type="text" id="article_id" name="article_id" required>
        <br><br>

        <button class="btn btn-edit" type="submit">
            Delete
        </button>
        <button class="btn btn-cancel"
        onclick="window.location.href='{{ url_for('display_inventory') }}'">
        Cancel
        </button>
        <button style="background-color:#FFD6FE; display:block; position: absolute; top: 20px; right: 20px"
    onclick="window.location.href='{{ url_for('display_inventory') }}'">
&lt; Back
</button>
    </form>
</div>
{% endblock %}
