{% extends "base.html" %}
{% block title %}Edit User{% endblock %}
{% block content %}

<div class="product-modal" role="dialog" aria-modal="true">
  <button class="modal-close" aria-label="Close" onclick="location.href='{{ url_for('users_page') }}'">×</button>
  <header class="modal-header"><h2>Edit User</h2></header>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
          {% if category == 'success' %}
              <div class="success-message">{{ message }}</div>
          {% elif category == 'error' %}
              <div class="error-message">{{ message }}</div>
          {% endif %}
      {% endfor %}
  {% endif %}
  {% endwith %}
  <br>

  <form method="post" action="{{ url_for('edit_user') }}">
    <div class="modal-body">
        <div class="form-grid">

        <div class="form-row">
            <input type="hidden" name="original_username" value="{{ username }}">

            <div class="field-label">Username</div>
            <input class="field-box" type="text" name="username" required value="{{ username }}">
        </div>

        <div class="form-row">
            <div class="field-label">Name</div>
            <input class="field-box" type="text" name="name" required value="{{ user['name'] if user else '' }}">
        </div>

        <div class="form-row">
            <div class="field-label">Password</div>
            <input class="field-box" type="text" name="password" value="{{ user['password'] if user else '' }}">
        </div>

        <div class="form-row">
            <div class="field-label">Access level</div>
            <select class="field-box" name="access_level" required value="{{ user['access_level'] if user else '' }}">
                <option value="">Select access level</option>
                <option value="Manager" {% if user and user['access_level'] == "Manager" %}selected{% endif %}>Manager</option>
                <option value="Employee" {% if user and user['access_level'] == "Employee" %}selected{% endif %}>Employee</option>
            </select>
        </div>

        </div>
    </div>

    <div class="modal-footer">
        <a class="btn btn-cancel" href="{{ url_for('users_page') }}">Cancel</a>
        <button type="submit" class="btn btn-edit">Update</button>
    </div>

  </form>
</div>

{% endblock %}
