{% extends "base.html" %} {% block title %}Inventory{% endblock %} {% block
content %}
<div class="inventory-header">
  <h1 class="title">All Products</h1>

<div class="inventory-actions">
    <!-- Search form -->
    <form class="search-button-form" action="{{ url_for('access_product') }}" method="get" role="search">
      <span class="search-icon">
        <img src="{{ url_for('static', filename='images/search.svg') }}" alt="">
      </span>
      <input
        type="search"
        name="search_term"
        class="search-input-in-btn"
        placeholder="Search product ID or brand"
        value="{{ request.args.get('search_term','') }}"
        required
      />
    </form>

    <!-- Add discount -->
    <a class="btn btn-discount" href="{{ url_for('apply_discount_page') }}">
      Apply discount
    </a>

    <!-- Add product -->
    <a
      class="plus-btn"
      href="{{ url_for('add_product_page') }}"
      title="Add product"
    >
      <img
        src="{{ url_for('static', filename='images/plus.svg') }}"
        alt="add"
      />
    </a>
  </div>
</div>
<!-- Product table -->
<div class="table-wrap">
  <table class="products-table">
    <thead>
      <tr>
        <th>Item name</th>
        <th>Product ID</th>
        <th>Category</th>
        <th>Price</th>
        <th>Discount percentage</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for p in all_products %}
      <tr>
        <td>{{ p.article_name }}</td>
        <td>
          {{ "%04d"|format(p.article_id|int) if p.article_id is string or
          p.article_id is number else p.article_id }}
        </td>
        <td>{{ p.category }}</td>
        <td>{{ p.price_SEK }} kr</td>
        <td>{{ p.discount_percentage }}%</td>
        <td>{{ p.stock_amount }} pcs</td>
        <td class="col-actions">
          <!-- View -->
          <a
            class="icon-btn"
            href="{{ url_for('access_product') }}?search_term={{ p.article_id }}"
          >
            <img
              src="{{ url_for('static', filename='images/eye.svg') }}"
              alt="view"
            />
          </a>
          <!-- Edit -->
          <a
            class="icon-btn"
            href="{{ url_for('update_product_page') }}?article_id={{ p.article_id }}"
          >
            <img
              src="{{ url_for('static', filename='images/edit.svg') }}"
              alt="edit"
            />
          </a>
          <!-- Delete -->
          <a
            class="icon-btn"
            href="{{ url_for('delete_product_page') }}?article_id={{ p.article_id }}"
          >
            <img
              src="{{ url_for('static', filename='images/delete.svg') }}"
              alt="delete"
            />
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
