<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locked-out</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/access.css') }}"
    />

</head>
<body>
    <section class="login-section">
        <div class="product-modal" role="dialog" aria-modal="true" style="position: static; margin-bottom: auto; margin: auto">
            <header class="modal-header" style="text-align:center">
            <h1>You have been locked out</h1>
            </header>
        
            <h1 id="countdown" style="text-align:center"></h1>
        
            <header class="modal-header" style="text-align:center">
            <h2>When the timer is completed you will be redirected to the login page</h2>
            </header>
        
            <!-- javaScrip for countdown -->
            <script src="{{ url_for('static', filename='JavaScript/countdown.js') }}"></script>
        </div>
    </section>
</body>
</html>