{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="login-section">
    <div class="login-container">
    <h2>Login</h2>
    
    {% if error %}
      <div class="error-msg">
        {{ error }}
      </div>
    {% endif %}

    <from method="POST" class="login-form">
        <label>Username</label>
        <input type="text" name="username">
      <label>Password</label>
      <input type="password" name="password">
    <button type="submit">Login</button>
     </from>
  </div>
</section>
{% endblock %}
    
        