{% extends "base.html" %}
{% block title %}Create account{% endblock %}
{% block content %}

<div class="product-modal" role="dialog" aria-modal="true">
    <button class="modal-close" aria-label="Close" onclick="location.href='{{ url_for('dashboard') }}'"></button>
    <header class="modal-header">
        <h2>My Account</h2>
    </header>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'success' %}
        <div class="success-message">
            {{ message }}
        </div>
        {% elif category == 'error' %}
        <div class="error-message">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('account_page') }}" method="POST">
          <div class="modal-body">
            <div class="form-grid">

            <!--Displaying the username -->
            <div class="form-row">
                <div class="field-label">Username</div>
                <input class="field-box" type="text" value="{{ username }}" readonly>
            </div>

            <!--Displaying the access level -->
            <div class="form-row">
                <div class="field-label">Access Level</div>
                <input class="btn" type="text" value="{{ access_level }}" readonly>
            </div>

            <!-- The old password -->
            <div class="form-row">
                <div class="field-label">Current Password</div>
                <input class="btn" type="password" name="current_password" required>
            </div>

            <!-- The new password -->
            <div class="form-row">
                <div class="field-label">New Password</div>
                <input class="btn" type="password" name="new_password" required>
            </div>

            <!-- New password again for confirmation -->
            <div class="form-row">
                <div class="field-label">Repeat New Password</div>
                <input class="btn" type="password" name="repeat_new_password" required>
            </div>

            <!-- Buttons to save the new password and to redirect to create account and delete user -->
            <footer class="modal-footer">
                <button type="submit" class="btn btn-edit">Update Password</button>
                
                <!-- Only shows create account and delete user to users with access level manager or admin -->
                {% if access_level in ["Manager", "Admin"] %}
                <a class="btn btn-cancel" href="{{ url_for('create_account_page') }}">Create Account</a>
                <a class="btn btn-cancel" href="{{ url_for('delete_user_page') }}">Delete User</a>
                <a class="btn btn-cancel" href="{{ url_for('users_page') }}">Users</a>
                {% endif %}

                <a class="btn btn-cancel" href="{{ url_for('dashboard') }}">Cancel</a>
            </footer>
        </form>
    </div>
</div>

{% endblock %}