<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
<style>
        .round-btn{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            overflow: hidden; 
            padding: 0;
            cursor: pointer;
            background-color: #FFD6FE
        }

        .round-btn img {
            width: 70%;
            height: 70%;
            object-fit: cover;
        }
</style>
</head>
<body style="background-color: #FAEBF9">

<button class="round-btn" style="top: 20px; left: 20px;" onclick="window.location.href='{{ url_for('display_dashboard') }}'"> 
    <img src=https://www.iconpacks.net/icons/2/free-home-icon-2502-thumb.png alt="home-button">
</button>

    <h1 style="text-align:center;">Notifications</h1>
    <h3 style="text-align:center;">Low stock alerts</h3>

    {% if notifications %}
        {% for n in notifications %}
           <div style="background: #faebfa; margin: 15px auto; padding: 5px 15px; width: 60%; border-radius: 8px;">
               <b>{{ n.product_name }}</b>
               <p>{{ n.message }}</p>
               <small>Product ID: {{ n.product_id }}</small>
           </div>
        {% endfor %}
    {% else %}
        <p style="text-align: center; margin-top: 40px;">No Notifications 🎉</p>
    {% endif %}
    
    <!--Back Button-->
    <button
        style="background-color:#FFD6FE; display:block; margin:30px auto; padding: 5px 15px;"
        onclick="window.location.href='{{ url_for('display_dashboard') }}'">
        &lt; Back to Dashboard
    </button>   

</body>
</html>