{% extends "base.html" %}
{% block title %}Notifications{% endblock %}
{% block content %}

<div class="notification-modal" role="dialog" aria-modal="true">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h2 class="modal-header">Notifications</h2>
    
        <div style="display: flex; gap: 10px;">
            {% if notifications %}
            <form method="POST" action="{{ url_for('clear_notifications_page') }}">
                <button class="btn btn-cancel" type="submit">
                    Clear all
                </button>
            </form>
            {% endif %}
    
            <button class="modal-close" aria-label="Close"
                onclick="location.href='{{ url_for('display_inventory') }}'">×</button>
        </div>
    </div>

    <!-- rendering notifications -->
    {% if notifications %}
        <div class="notification-table">
            {% for notification in notifications %}
                <div class="notification-list">
                    <div class="notification-header">
                        <img src="{{ url_for('static', filename='images/warning-error.svg') }}"
                             alt="Warning Icon" class="notification-icon">
                        <strong style="color: #DB5358;">Low Stock Alert!</strong>
                    </div>

                    {% if notification.get('product_name') %}
                        <b>{{ notification.get('product_name') }}</b>
                    {% endif %}

                    <p>{{ notification.get('message') }}</p>
                    <small>Product ID: {{ notification.get('id') }}</small>
                </div>
            {% endfor %}
        </div>
    {% else %}
    <!-- message for no notifications -->
        <header class="modal-header" style="text-align: center">
            <h4>No notifications</h4>
        </header>
    {% endif %}
</div>

{% endblock %}
