{% extends "base.html" %}
{% block title %}Returns{% endblock %}
{% block content %}

<div class="inventory-header">
  <h1 class="title">Returns</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

    <!-- Add return button -->
    {% if access_level in ["Manager"] %}
    <a class="btn btn-plus" href="{{ url_for('add_return_page') }}">
      <img src="{{ url_for('static', filename='images/plus.svg') }}" alt="add" class="btn-icon" />
      <span class="btn-label">Add return</span>
    </a>
    {% endif %}
  </div>
</div>

<div class="table-wrap">
  <table class="products-table">
    <thead>
      <tr>
        <th class="col-order">Return ID</th>
        <th class="col-id">Article ID</th>
        <th class="col-customer">Customer</th>
        <th class="col-amount">Amount</th>
        <th class="col-date">Returned On</th>
        <th class="col-status">Status</th>
        <th class="col-actions">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if returns %}
        {% for return_id, return in returns %}
          <tr>
            <td class="col-order">{{ return_id }}</td>
            <td class="col-id">{{ return.get('article_id','') }}</td>
            <td class="col-customer">{{ return.get('customer','') }}</td>
            <td class="col-amount">{{ return.get('stock_amount','') }}</td>
            <td class="col-date">{{ return.get('date','') }}</td>
            <td class="col-status">{{ return.get('status','') }}</td>
            <td class="col-actions">
              <div class="col-actions">
                <a class="icon-btn" href="{{ url_for('add_return_page') }}?return_id={{ return_id }}" title="View">
                  <img src="{{ url_for('static', filename='images/eye.svg') }}" alt="View">
                </a>
              </div>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="7">No returns found.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}

