{% extends "base.html" %} {% block title %}User Orders{% endblock %} {% block
content %}

<div class="inventory-header">
	<h1>User Orders</h1>

	{% if access_level in ["Manager"] %}
		<a class="btn btn-plus" href="{{ url_for('add_user_order_page') }}">
			<img
				src="{{ url_for('static', filename='images/plus.svg') }}"
				alt="Add Order"
				class="nav-icon default-icon btn-icon"
			/>
			<!-- Christmas plus icon -->
			<span class="nav-icon christmas-plus-icon" aria-hidden="true"></span>
			<span class="btn-label">Add Order</span>
		</a>
	{% endif %}
</div>

<!-- This is already a set template, so only needing the html implementation, pre-linked to both css-->
{% for status, orders in grouped_orders.items() %}
    <div class="table-wrap">
			  <h2 class="title">{{ status|title }}</h2>
			<table class="products-table">
				<thead>
					<tr>
						<th class="col-order">Order ID</th>
						<th class="col-date">Created At</th>
						<th class="col-status">Status</th>
						<th class="col-actions">Access</th>
					</tr>
				</thead>

				<tbody>
					{% if orders %} {% for order_id, order in orders.items() %}
					<tr>
						<td class="col-order">{{ order_id }}</td>
						<td class="col-date">{{ order.get('created_at') }}</td>
						<td class="col-status"> {{ status|title }}</td>
						<td class="col-actions"> 
							<div class="col-actions">
                	<a class="icon-btn" href="{{ url_for('access_user_order_page') }}?order_id={{ order_id }}" title="View">
                  	<img src="{{ url_for('static', filename='images/eye.svg') }}" alt="View">
                	</a> 
						</td>
					
					</tr>
				{% endfor %} {% endif %}
				</tbody>
			</table>
		</div>

{% endfor %}
{% endblock %}
