{% extends "base.html" %} {% block title %}User Orders{% endblock %} {% block
content %}

<h1>User Orders</h1>

  <!--Messages-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'success' %}
<div class="success-message">
		{{ message }}
</div>
{% elif category == 'error' %}
<div class="error-message">
		{{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<br>

<!--This is already a set template, so only needing the html implementation, pre-linked to both css-->
{% for status, orders in grouped_orders.items() %}
    <h2>{{ status|title }}</h2>

    <div class="table-wrap">
			<table class="products-table">
				<thead>
					<tr>
						<th class="col-order">Order ID</th>
						<th class="col-date">Created At</th>
						<th class="col-status">Status</th>
					</tr>
				</thead>

				<tbody>
					{% if orders %} {% for order_id, order in orders.items() %}
					<tr>
						<td class="col-order">{{ order_id }}</td>
						<td class="col-date">{{ order.get('created_at') }}</td>
						<td class="col-actions">
							<form method="post" action="{{ url_for('user_orders_page') }}?order_number={{ order_id }}">
								<select class="btn" name="status">
									<option value="ordered" {{ 'selected' if status == 'ordered' else '' }}>New Orders</option>
									<option value="dispatched" {{ 'selected' if status == 'dispatched' else '' }}>In Progress</option>
									<option value="in transit" {{ 'selected' if status == 'in transit' else '' }}>Packing</option>
									<option value="delivered" {{ 'selected' if status == 'delivered' else '' }}>Sent Orders</option>
								</select>
						</td>
						<td class="col-actions">
								<button type="submit" class="btn btn-edit">Update</button>
							</form>
						</td>
					</tr>
				{% endfor %} {% endif %}
				</tbody>
			</table>
		</div>
{% endfor %}




{% endblock %}
