/*standard UI colors*/
:root {
  --modal-bg: #ffffff;
  --modal-close: #222222;
  --modal-header: #0b213f;
  --modal-field-label: #667380;
  --modal-field-box: #fbfbfd;
  --modal-field-border: #e6e9ee;

  --brand-border: #e9eef3;
  --brand-text: #334155;

  --btn-border: #e0e6eb;
  --btn-cancel-bg: #ffffff;
  --btn-cancel-text: #22333b;
  --btn-edit-bg: #3b4668;
  --btn-edit-text: #ffffff;
  --btn-discount-text: #3b4668;
  --btn-delete-bg: #e03137;
  --btn-delete-text: #ffffff;
}

/*christmas UI colors*/
[data-theme="christmas"] {
  --modal-bg: #386641;
  --modal-close: #222222;
  --modal-header: #f5deae;
  --modal-field-label: #9eb694;
  --modal-field-box: #1c3626;
  --modal-field-border: #e6e9ee;

  --brand-border: #e9eef3;
  --brand-text: #334155;

  --btn-border: #e0e6eb;
  --btn-cancel-bg: #ffffff;
  --btn-cancel-text: #22333b;
  --btn-edit-bg: #1c3626;
  --btn-edit-text: #f5deae;
  --btn-discount-text: #3b4668;
  --btn-delete-bg: #e03137;
  --btn-delete-text: #ffffff;
}

/* Modal */
.product-modal {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 60vw;
  background: var(--modal-bg);
  border-radius: 15px;
  padding: 40px;
}

/* Close button (cross) */
.product-modal .modal-close {
  position: absolute;
  top: 3%;
  right: 3%;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: var(--modal-close);
}

/* Header */
.product-modal .modal-header h2 {
  font-size: 22px;
  font-weight: 700;
  color: var(--modal-header);
}

.product-modal .form-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5% 5%;
}

.product-modal .form-row {
  display: flex;
  flex-direction: column;
}

.product-modal .field-label {
  font-size: 12px;
  color: var(--modal-field-label);
  font-weight: 600;
}

/* Value formatting */
.product-modal .field-box {
  background: var(--modal-field-box);
  border: var(--modal-field-border);
  color: var(--modal-header);
  border-style: solid;
  border-radius: 8px;
  padding: 3%;
  font-weight: 700;
  color: var(--modal-header);
}

/* Footer buttons */
.product-modal .modal-footer {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 3%;
  padding-top: 3%;
}

/* Button styles */
.btn {
  border-radius: 10px;
  font-weight: 700;
}

.btn-cancel {
  background: var(--btn-bg);
  color: var(--btn-cancel);
  padding: 1% 2%;
}

.btn-edit {
  background: var(--btn-edit-bg);
  color: var(--btn-edit-text);
  padding: 1% 2%;
}

.discount-btn {
  border-radius: 10px;
  font-weight: 700;
  border: var(--modal-field-border);
  border-style: solid;
  padding: 10px 16px;
  width: auto;
  min-width: 200px;
  box-sizing: border-box;
  margin-left: 1vw;
  color: var(--btn-discount-text);
}

.btn-delete {
  background: var(--btn-delete-bg);
  color: var(--btn-delete-text);
  padding: 1% 2%;
}

.btn-add {
  background: var(--btn-edit-bg);
  color: var(--btn-edit-text);
  padding: 1% 2%;
}
/*apply discount buttons for centering*/
.form-buttons {
  display: flex;
  justify-content: center;
}

/* Brand results */
.brand-results {
  margin-top: 18px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
}

.brand-results .brand-result {
  background: var(--modal-bg);
  border: 1px solid var(--brand-border);
  border-radius: 10px;
  padding: 14px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  margin-bottom: 18px;
}

/* Product name */
.brand-results .brand-result h3 {
  margin: 0 0 6px 0;
  font-size: 16px;
  color: var(--modal-header);
  font-weight: 700;
}

/* Product information */
.brand-results .brand-result ul {
  padding: 1%;
  margin: 2%;
  display: grid;
  gap: 2%;
  font-size: 14px;
  font-weight: 400;
  color: var(--brand-text);
}

.brand-results .brand-result li strong {
  color: var(--brand-text);
  font-weight: 600;
}

.error-message {
  /*hard coded colors for intuuitive messages*/
  background: rgba(220, 53, 69, 0.2);
  color: #721c24;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgba(180, 25, 35, 0.8);
}

.success-message {
  /*hard coded colors for intuitive messages*/
  background: rgba(185, 225, 195, 0.2);
  color: #155724;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgba(61, 124, 76, 1);
}

/* Removes white border around fields in Christmas mode */
[data-theme="christmas"] .product-modal input.field-box[readonly] {
  border: none;
}
