/* Modal */
.product-modal {
  /* Add shadow? */
  position: absolute;
  top: 20%;
  left: 25%;
  width: 60vw;
  background: #ffffff;
  border-radius: 15px;
  padding: 40px;
}

/* Close button (cross) */
.product-modal .modal-close {
  position: absolute;
  top: 3%;
  right: 3%;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #222222;
}

/* Header */
.product-modal .modal-header h2 {
  font-size: 22px;
  font-weight: 700;
  color: #0b213f;
}

.product-modal .form-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5% 5%;
}

.product-modal .form-row {
  display: flex;
  flex-direction: column;
}

.product-modal .field-label {
  font-size: 12px;
  color: #667380;
  font-weight: 600;
}

/* Value formatting */
.product-modal .field-box {
  background: #fbfbfd;
  border: #e6e9ee;
  border-style: solid;
  border-radius: 8px;
  padding: 3%;
  font-weight: 700;
  color: #0b213f;
}

/* Footer buttons */
.product-modal .modal-footer {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 3%;
  padding-top: 3%;
}

/* Button styles */
.btn {
  border-radius: 10px;
  font-weight: 700;
  border: #e0e6eb;
  border-style: solid;
}

.btn-cancel {
  background: #ffffff;
  color: #22333b;
  padding: 1% 2%;
}

.btn-edit {
  background: #3b4668;
  color: #ffffff;
  padding: 1% 2%;
}

.discount-btn {
  border-radius: 10px;
  font-weight: 700;
  border: #e0e6eb;
  border-style: solid;
  padding: 10px 16px;
  width: auto;
  min-width: 200px;
  box-sizing: border-box;
  margin-left: 1vw;
  color: #3b4668;
}
/* Brand results */
.brand-results {
  margin-top: 18px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
}

.brand-results .brand-result {
  background: #ffffff;
  border: 1px solid #e9eef3;
  border-radius: 10px;
  padding: 14px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  margin-bottom: 18px;
}

/* Product name */
.brand-results .brand-result h3 {
  margin: 0 0 6px 0;
  font-size: 16px;
  color: #0b213f;
  font-weight: 700;
}

/* Product information */
.brand-results .brand-result ul {
  padding: 1%;
  margin: 2%;
  display: grid;
  gap: 2%;
  font-size: 14px;
  font-weight: 400;
  color: #334155;
}

.brand-results .brand-result li strong {
  color: #334155;
  font-weight: 600;
}

.error-message {
  background: rgba(220, 53, 69, 0.2);
  color: #721c24;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgba(180, 25, 35, 0.8);
}

.success-message {
  background: rgba(185, 225, 195, 0.2);
  color: #155724;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgba(61, 124, 76, 1);
}
